.App {
  text-align: center;
  color: #34324A;
}

.App-header {
  background-color: ivory;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Cookie', cursive;
  font-size: calc(45px + 2vmin);
  padding: 20px;
}

@media (max-width: 345px) {
  .App-header {
    font-size: calc(35px + 2vmin);
  }
}

@media (max-width: 409px) {

  /* Itinerary Panel */
  .MuiTabPanel-root:nth-of-type(5) {
    padding: 0px !important;
  }
}

html {
  background-image: url('./assets/elopement-flowers.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.MuiAccordion-root {
  margin: auto !important;
  max-width: 500px;
}

.MuiPaper-root {
  margin: auto;
}

button.Mui-selected {
  color: white !important;
}

.MuiTableHead-root {
  height: 2px;
  line-height: 2px;
  display: block;
  overflow: hidden;
}

.MuiTableCell-root.MuiTableCell-head {
  padding: 3px 16px !important;
  background-color: ivory;
  color: black !important;
}

.google-iframe {
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
  line-height: initial;
  text-align: left;
  margin-bottom: 25px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 5px;
}

.elopement-photo {
  max-width: 574px !important;
}

.MuiAccordionSummary-content {
  margin: 0px !important;
}

header {
  position: sticky;
  top: 0;
  z-index: 999;
  opacity: 85%;
  height: 10vh;
}