.App {
  text-align: center;
  color: #34324A;
}

a {
  text-decoration: none;
}

.App-header {
  font-size: 9vw;
  background-color: ivory;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Cookie', cursive;
  padding: 20px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 2;
  opacity: 85%;
  height: 10vh;
}


#header-background {
  background-image: url('./assets/elopement-flowers.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 10vh;
  width: 100vw;
  padding: 20px;
  position: fixed;
  z-index: 1;
}

@media (max-width: 745px) {
  .App-header {
    font-size: 12vw;
  }
}

@media (max-width: 500px) {
  .App-header {
    font-size: 14vw;
  }
}

@media (min-width: 1030px) {
  .App-header {
    font-size: 5vw;
  }
}

@media (max-width: 409px) {

  /* Itinerary Panel */
  .MuiTabPanel-root:nth-of-type(5) {
    padding: 0px !important;
  }
}

html {
  background-image: url('./assets/elopement-flowers.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.MuiCard-root {
  margin-bottom: 25px !important;
  padding: 245x !important;
  border-radius: 15px !important;
}

button.Mui-selected {
  color: white !important;
}

.MuiTableHead-root {
  height: 2px;
  line-height: 2px;
  display: block;
  overflow: hidden;
}

.MuiTableCell-root.MuiTableCell-head {
  padding: 3px 16px !important;
  background-color: ivory;
  color: black !important;
}

.google-iframe {
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
  line-height: initial;
  text-align: left;
  margin-bottom: 25px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 5px;
}

.elopement-photo {
  max-width: 574px !important;
}

.MuiAccordionSummary-content {
  margin: 0px !important;
}